@use "sass:color";
@use "../theme.scss";

.app-button {
    image {
        transition: -gtk-icon-size cubic-bezier(0.25, 1, 0.5, 1) 100ms;
        transition: margin-bottom cubic-bezier(0.25, 1, 0.5, 1) 100ms;
    }

    .box {
        min-width: 40px;
        min-height: 40px;
    }

    &:hover {
        background-color: transparent;
        image {
            margin-bottom: 10px;
            -gtk-icon-size: 4px;
        }
    }

    &.focused {
        .indicator {
            background-color: theme.$color-cyan;
            min-width: 40px;
        }
    }

    .indicator {
        min-width: 32px;
        min-height: 3px;
        background-color: theme.$color-red;
        transition: background-color 0.1s ease-out;
        transition: min-width 0.1s ease-out;
    }
}
