@use "sass:color";
@use "../theme.scss";

window.statusbar {
    background: rgba(0, 0, 0, 0.5);
}

.statusbar-container {
    padding: 4px;

    .workspace-container {
        .workspace-button {
            margin: unset;
            padding: unset;
            background-color: transparent;
            border: 2px solid theme.$color-grey;
            border-radius: 16px;
            min-width: 0.75rem;
            min-height: 0.75em;
            transition: min-width 100ms ease-out;

            &.occupied {
                background-color: color.adjust(theme.$color-grey, $alpha: -0.5);
            }

            &.active {
                min-width: 1.5rem;
                background-color: theme.$color-grey;
            }

            &:hover {
                background-color: theme.$color-cyan;
                border-color: theme.$color-cyan;
            }
        }
    }
}
