@use "sass:color";
@use "sass:math";
@use "./theme.scss";

$fg-color: #fff;
$accent: #0f0;

* {
    font-family: "Noto Sans";
    font-size: 1rem;
    font-weight: 600;
}

scale {
    margin: 0;
    padding: 0;
    trough {
        border-radius: 0;
        highlight {
            background-color: $accent;
            min-height: 25px;
            // min-width: 25px;
            border-radius: 0;
        }
        slider {
            box-shadow: none;
            outline: unset;
            background-color: transparent;
        }
    }
}

menubutton {
    padding: 0;
    button {
        padding: unset;
        margin: unset;
        border-radius: 0;

        &:hover {
            background-color: theme.$color-cyan;
            color: theme.$color-darkest-blue;
        }
    }
}

button {
    margin: unset;
    padding: 4px;
    border-radius: 0;
    background: transparent;
    transition: transform 0.2s ease-in-out;

    &:active {
        > * {
            transform: scale(0.85);
        }
    }

    &:hover {
        background-color: theme.$color-cyan;
        color: theme.$color-darkest-blue;
    }
}

window {
    background-color: transparent;
    .button-padding {
        background-color: transparent;
    }
}

separator {
    min-height: 2px;
    margin: 0.3rem 0.5rem;
    border-radius: 0;

    &.vertical {
        min-height: unset;
        min-width: 2px;
        margin: 0.5rem 0.3rem;
    }
}

.bar .icon {
    font-size: 1.1rem;
}
