@use "sass:color";
@use "sass:math";

$window-border-radius: 8px;

$fg-color: #fff;
$accent: #0f0;

* {
    font-family: "NotoSans Nerd Font";
    font-size: 0.95: rem;
    font-weight: 600;
}

scale {
  margin: 0;
  padding: 0;
  trough {
    border-radius: calc(nth($window-border-radius, 1) * 99);
    highlight {
      background-color: $accent;
      min-height: 25px;
      // min-width: 25px;
      border-radius: calc(nth($window-border-radius, 1) * 99);
    }
    slider {
      box-shadow: none;
      outline: unset;
      background-color: transparent;
    }
  }
}

menubutton {
  padding: 0;
  button {
    padding: unset;
    margin: unset;
    border-radius: calc(nth($window-border-radius, 1) / 2);

    &:hover {
      background-color: color.adjust($fg-color, $alpha: -0.85);
    }
  }
}

button {
  padding: unset;
  margin: unset;
  border-radius: calc(nth($window-border-radius, 1) / 2);
  background-color: transparent;
  transition: transform 0.2s ease-in-out;

  &:active {
    > * {
      transform: scale(0.85);
    }
  }

  &:hover {
    background-color: color.adjust($fg-color, $alpha: -0.85);
  }
}

window {
  background-color: transparent;
  .button-padding {
    background-color: transparent;
  }
}

separator {
  min-height: 2px;
  margin: 0.3rem 0.5rem;
  border-radius: calc(nth($window-border-radius, 1) * 99);

  &.vertical {
    min-height: unset;
    min-width: 2px;
    margin: 0.5rem 0.3rem;
  }
}

.bar .icon {
  font-size: 1.1rem;
}
