// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.status-bar {
    background: rgba(0, 0, 0, 0.5);
    color: $fg-color;

    > centerbox {
        backdrop-filter: blur(20px);
        margin: 2px;
    }

    button {
        background: transparent;
        border-radius: 2px;
        margin: 2px;
    }
}

window.dock {
    margin: 4px;
}
