// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

$accent: #{"@theme_selected_fg_color"};

$window-border-radius: 8px;

@use "./widget/dock.scss";
@use "./widget/statusbar.scss";
