// Cyberpunk colours
$color-red: #f75049;
$color-cyan: #5ef6ff;
$color-white: #ffffff;
$color-darkest-blue: #0e0e17;
$color-grey: #d6d0d0;
$color-green: #1ded83;
$color-blue: #2570d4;
$color-purple: #9d2bf5;
$color-orange: #fb932e;
$color-yellow: #f0b537;

$base00: #161b22;
$base01: #30363d;
$base02: #484f58;
$base03: #6e7681;
$base04: #8b949e;
$base05: #c9d1d9;
$base06: #f0f6fc;
$base07: #ffffff;
$base08: $color-red;
$base09: $color-orange;
$base0A: $color-yellow;
$base0B: $color-green;
$base0C: $color-cyan;
$base0D: $color-blue;
$base0E: $color-purple;
$base0F: $color-darkest-blue;
